[submodule "projects/pong"]
	path = projects/pong
	url = https://github.com/angelobdev/pong
[submodule "projects/minesweeper"]
	path = projects/minesweeper
	url = https://github.com/angelobdev/minesweeper
