// Colors
$background-light: #fafafa;
$text-light: #1d1d1d;

$background-dark: #1d1d1d;
$text-dark: #fafafa;

$primary: #f4d35e;
$secondary: #791e94;

$alert: #ff0022;
$warning: #dd7230;
$info: #157f1f;

// Variables
$header-height: 3rem;
